Checks: 'bugprone*,
         clang-analyzer*,
         cert*,
         misc*,
         modernize*,
         performance*,
         portability*,
         readability*,
         google*,
         llvm*,
         -*-avoid-c-arrays,
         -bugprone-easily-swappable-parameters,
         -bugprone-narrowing-conversions,
         -bugprone-reserved-identifier,
         -cert-dcl37-c,
         -cert-dcl51-cpp,
         -cert-err58-cpp,
         -llvm-header-guard,
         -llvmlibc-callee-namespace,
         -llvmlibc-implementation-in-namespace,
         -llvmlibc-restrict-system-libc-headers,
         -misc-no-recursion,
         -misc-non-private-member-variables-in-classes,
         -misc-unused-parameters,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-magic-numbers,
         -readability-simplify-boolean-expr'
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
